/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    margin: 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: color 0.2s ease;
}

.menu a:hover {
    color: #ffd700; /* Change to your desired link hover color */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: auto;;
}





/*over header*/

/*footer start*/


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    margin-top: 50px;
    padding: 10px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links,
.footer-contact,
.footer-social {
    flex-basis: 30%;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

ul li a:hover {
    color: #ff5722;
}

.footer-text {
    font-size: 14px;
    margin-top: 30px;
}

.footer-text a {
    color: #ff5722;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}
